.l-footer {
    padding: rem(20) 0;
    margin-top: rem(50);
    border-top: 1px solid $color-border;

    .l-container {
        text-align: center; 
    }
}

.l-header__content {
    @include site-container;
    @include flex-layout(flex-start, center);
    padding-top: rem(24);
    padding-bottom: rem(24);
    width: 100%;

    .c-nav {
        margin: 0 auto; 
    }
}

.l-tools-layout {
    display: block;
    padding-top: rem(40);

    @include respond-to('sm') {
        display: grid;
        grid-template-columns: rem(250) 1fr;
        gap: rem(60);
    }
    
    &__aside {
        @include only-mobile {
            margin-bottom: rem(30);
            border-bottom: 1px solid $color-border;
            padding-bottom: rem(30);
        }
    }
}