* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background-color: $color-dark;
    color: $color-text;
    font-family: $font-family-base;
    @include text-style(16);
    
    display: flex;
    flex-direction: column; 
    min-height: 100vh;
}

.l-main {
    flex-grow: 1; 
    flex-shrink: 0; 
}

ul, ol {
    list-style: none;
}

@media print {
    body {
        background: white !important;
        color: black !important;
    }
    .c-button, .u-hide-print {
        display: none !important;
    }
}