h1 { @include text-style(36, 700, 1.2); }
h2 { @include text-style(28, 600, 1.3); }
h3 { @include text-style(20, 500, 1.4); }

a {
    color: $color-primary;
    text-decoration: none;
    @include transition-default(color);
    &:hover {
        color: tint($color-primary, 20%);
    }
}