.c-pagination {
    margin-top: rem(30);
    text-align: center;
    
    &__list {
        @include flex-layout(center, center);
        gap: rem(10);
        list-style: none;
        padding: 0;
        margin: 0 auto;
    }
    
    &__link {
        @include text-style(16, 500, 1.2, $color-text-secondary);
        padding: rem(8) rem(12);
        border-radius: rem(4);
        text-decoration: none;
        @include transition-default();

        &:hover {
            color: $color-primary;
        }

        &--current {
            background-color: $color-primary;
            color: $color-dark !important;
        }

        &--icon {
            @include text-style(14, 700, 1, $color-primary);
        }
    }

    &__item--spacer {
        @include text-style(16, 500, 1.2, $color-text-secondary);
    }
}